<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>天天服装店财务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
	</head>

	<body class="layui-layout-body">
		<table class="layui-table" style="border: 1px solid #151515">
			<thead >
				<tr style="height: 80px;">
					<td style="border: 0px hidden #151515">凭证编号:记20154</td>
					<td style="border: 0px hidden #151515">日期:2018-01-23</td>
					<td colspan="2" style="border: 0px hidden #151515">附件数量:6</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>摘要</td>
					<td>科目</td>
					<td>借方金额</td>
					<td>贷方金额</td>
				</tr>
				<tr>
					<td>记</td>
					<td>现金</td>
					<td>120</td>
					<td>160</td>
				</tr>
				<tr>
					<td>贷</td>
					<td>现金</td>
					<td>142</td>
					<td>256</td>
				</tr>
				<tr>
					<td colspan="2">合计：</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>制单人：张三</td>
					<td>审核人：张三</td>
					<td colspan="2">记账人：张三</td>
				</tr>
			</tbody>
		</table>

	</body>

</html>